.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}

.topNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.navLink {
  color: #888;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 8px;
  position: relative;
  transition: color 0.2s;
}

.active {
  color: white;
  font-weight: 700;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #70BA65;
  border-radius: 2px;
}

.content {
  flex: 1;
  position: relative;
  overflow-y: auto;
}