.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100dvh - 48px); 
  align-items: center;
  justify-content: center;
}

.textWrapper {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 20px;
}

.title {
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: 1px;
}

.subTitle {
  color: #E2D3D3;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}