.title {
  margin-bottom: 25px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hint {
  color: #ff4141;
  font-size: 15px;
  min-height: 20px;
}

.dividerWrapper {
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #E0DDE080;
}

.orText {
  padding: 0 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.signUp {
  margin-bottom: 25px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.signUp:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sizedBox25 {
  height: 25px;
}

.sizedBox12 {
  height: 12px;
}