.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.title {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.backButton {
  position: absolute;
  left: 0;
  
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  margin-left: -10px; /* 修正因為 padding 導致的視覺位移 */
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.hint {
  color: #ff4141;
  font-size: 15px;
  min-height: 20px;
  margin-top: 10px;
}

.sizedBox25 {
  height: 25px;
}

.sizedBox12 {
  height: 12px;
}