.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
}

.emptyState {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  color: #a1a1a1;
  gap: 10px;
}

.emptyText {
  font-size: 18px;
  font-weight: 500;
}