.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #121212;
}

.contentWrapper {
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto; 
  
  display: flex;
  flex-direction: column;
  padding: 20px 24px 0 24px;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.navItem {
  color: #888;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 8px;
  position: relative;
  transition: color 0.2s;
  cursor: pointer;
}

.active {
  color: white;
  font-weight: 700;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #70BA65;
  border-radius: 2px;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 100px;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
  display: none;
}