.card {
  width: 100%;
  aspect-ratio: 4 / 5;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  border: 3px solid white;
  background-color: #333;
  
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.card:active {
  transform: scale(0.96);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}