.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100dvh - 48px);
  align-items: center;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 44px;
  width: 100%;
  margin-bottom: 30px;
}

.backButton {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  margin-left: -10px;
  display: flex;
  align-items: center;
}

.textWrapper {
  text-align: center;
  margin-bottom: 40px;
}

.mainTitle {
  color: #FFFFFF;
  font-size: 28px;
  margin-bottom: 40px;
}

.subTitle {
  color: #FFFFFF;
  font-size: 14px;
}

.nameInput {
  width: 85%;
  height: 50px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  font-size: 18px;
  color: #000000;
  outline: none;
  text-align: center;
}

.nameInput:focus {
  border: 2px solid #57b65f;
}

.footer {
  margin-top: 150px; 
  width: 100%;
}