.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100dvh - 48px);
    align-items: center;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 100%;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.title {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.backButton {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    margin-left: -10px;
    display: flex;
    align-items: center;
}

.subTitle {
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 300;
}

.uploadCard {
    width: 260px;
    height: 340px;
    background-color: #D9D9D9;
    border-radius: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s;
    margin-bottom: 0;
}

.uploadCard:active {
    transform: scale(0.98);
}

.plusIconWrapper {
    width: 50px;
    height: 50px;
    background-color: #57b65f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.previewImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    margin-top: 50px;
    width: 100%;
    padding-bottom: 10px;
}