.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100dvh - 48px);
  align-items: center;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 44px;
  width: 100%;
  margin-bottom: 40px;
  flex-shrink: 0;
}

.backButton {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  margin-left: -10px;
  display: flex;
  align-items: center;
}

.textWrapper {
  text-align: center;
  margin-bottom: 40px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitle {
  color: white;
  font-size: 28px;
  margin-bottom: 24px;
}

.subTitle {
  color: white;
  font-size: 18px;
}

.dateInput {
  width: 85%;
  height: 50px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 2px;
  
  font-size: 18px;
  color: #000;
  font-weight: 500;
  text-align: center;
  padding: 0 16px;
  outline: none;
  
  appearance: none; 
  -webkit-appearance: none;
  
  margin-bottom: 100px;
}

.dateInput:focus {
  border: 2px solid #57b65f; 
}

.helperText {
  color: #898989;
  font-size: 14px;
  margin-bottom: 30px;
}

.footer {
  margin-top: auto;
  padding-bottom: 20px;
  width: 100%;
}