.baseButton {
  width: 100%;
  padding: 14px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #57b65f;
  color: white;
  transition: opacity 0.2s, background-color 0.2s;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-size: 1.2em;
}

.baseButton:not(:disabled):active {
  transform: scale(0.98);
}

.baseButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.baseButton:not(:disabled):hover {
  background-color: rgb(93, 160, 83);
}

.social {
  background-color: transparent;
  border: 1px solid #555;
  color: white;
  margin-bottom: 12px;
}
.social:hover {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}
